<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>The Home Page <%= 4 + 5 + 1 + ' hello world'.toUpperCase() %></h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci labore
      rem neque dolores dolorem molestiae facilis quo consequuntur expedita
      accusamus iste maxime tempora, vero mollitia. Nisi modi aliquam hic
      voluptate! Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Repellat quisquam possimus magni repellendus? Quas dolore ex quia
      exercitationem necessitatibus doloribus praesentium earum. Repellendus
      blanditiis maxime voluptatum dignissimos, cupiditate molestias deleniti?
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum explicabo
      labore dolor, sunt odit earum veniam soluta est dolorem nesciunt, tempora
      aut ipsam eligendi velit corrupti repellat minima, reprehenderit eius.
    </p>
  </body>
</html>
