<h1>This is the secret page!</h1>

<p>You found me!</p>

<img src="https://instagram.fmnl4-1.fna.fbcdn.net/vp/a59727d2003fb760f3ab0f5804153b4a/5CD71205/t51.2885-15/e35/12534127_1007671362626692_2109174961_n.jpg?_nc_ht=instagram.fmnl4-1.fna.fbcdn.net" alt="Childhood memory">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>