h4 {
  background: rgb(255, 100, 120);
  /*border-color: black;
	border-width: 5px;
	border-style: solid;*/
  border: 3px dashed rgb(0, 255, 13);
}

body {
  /*	background: url(http://trunkweed.com/uploads/posts/images/440135-black-and-white-marble-wallpaper.png);
	background-repeat: no-repeat;
	background-size: cover;*/
  background: grey;
}