/* font-family */
/* font-size */
/* font-weight */
/* line-height */
/* text-align */
/* text-decoration */

body {
  font-size: 10px;
}

h1 {
  /* font-family: Georgia; */
  font-family: 'Indie Flower', cursive;
  font-size: 5em;
  text-align: right;
  text-decoration: line-through;
}

p {
  /* font-family: Arial; */
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  text-decoration: underline;
}

span {
  font-size: 2em;
}
