h2 {
  /* color: indigo; */
  /* color: teal; */
  color: #5fcffc;
  /* background-color: plum; */
  /* background-color: papayawhip; */
  background-color: rgb(89, 151, 0);
}

button {
  color: magenta;
  background-color: cyan;
}

p {
  color: olive;
  background: rgb(228, 161, 37);
}

body {
  background-color: #c5e;
}
