/* Elements */
li {
  color: black
}

/* class */
.list {
  color: black;
}

/* id */
#links {
  color: black;
}

/* star */
* {
  border: 1px solid lightgrey;
}


/* Descendant Selector */
li a {
  color: blue;
}

/* Adjacent Selector */
h4 + ul {
  border: 4px solid red;
}

/* Attribute Selector */
a[href="http://www.google.com"] {
  background-color: pink;
}

/* nth of type */
ul:nth-of-type(3) {
  background-color: yellow;
}