/* * {
  padding: 0;
  margin: 0;
} */

body {
  width: 80%;
  max-width: 700px;
  padding: 20px;
  margin: 20px auto;
  
  font-family: 'Source Sans Pro', sans-serif;
  border: 20px solid #bdc3c7;
}

.post {
  margin-bottom: 1.3rem;
}

.date {
  letter-spacing: 0.2rem;
  color: #3498db;
  text-transform: uppercase;
}

.quote {
  padding-left: 0.3rem;

  border-left: 0.3rem solid #bdc3c7;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #2c3e50;
}

hr {
  height: 1px;
  /* padding-bottom: 20px; */
  
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  border: 0;
  /* border-top: 1px solid #bdc3c7; */
}